In [31]:
import pandas as pd
import numpy as np

In [53]:
Absents = pd.read_csv("train_data.csv")

In [3]:
Absents

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absent
0,1,26,7,3,1,289,36,13,33,"239,554",...,0,1,2,1,0,1,90,172,30,1
1,2,0,7,3,1,118,13,18,50,"239,554",...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,1
3,4,7,7,5,1,279,5,14,39,"239,554",...,0,1,2,1,1,0,68,168,24,1
4,5,23,7,5,1,289,36,13,33,"239,554",...,0,1,2,1,0,1,90,172,30,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,28,9,3,1,246,25,16,41,"261,756",...,0,1,0,1,0,0,67,170,23,0
496,497,28,9,3,1,246,25,16,41,"261,756",...,0,1,0,1,0,0,67,170,23,0
497,498,28,9,3,1,118,10,10,37,"261,756",...,0,1,0,0,0,0,83,172,28,1
498,499,23,9,3,1,155,12,14,34,"261,756",...,0,1,2,1,0,0,95,196,25,1
499,500,28,9,5,1,291,31,12,40,"261,756",...,0,1,1,1,0,1,73,171,25,1

In [4]:
Absents.drop(2)

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absent
0,1,26,7,3,1,289,36,13,33,"239,554",...,0,1,2,1,0,1,90,172,30,1
1,2,0,7,3,1,118,13,18,50,"239,554",...,1,1,1,1,0,0,98,178,31,0
3,4,7,7,5,1,279,5,14,39,"239,554",...,0,1,2,1,1,0,68,168,24,1
4,5,23,7,5,1,289,36,13,33,"239,554",...,0,1,2,1,0,1,90,172,30,1
5,6,23,7,6,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,28,9,3,1,246,25,16,41,"261,756",...,0,1,0,1,0,0,67,170,23,0
496,497,28,9,3,1,246,25,16,41,"261,756",...,0,1,0,1,0,0,67,170,23,0
497,498,28,9,3,1,118,10,10,37,"261,756",...,0,1,0,0,0,0,83,172,28,1
498,499,23,9,3,1,155,12,14,34,"261,756",...,0,1,2,1,0,0,95,196,25,1
499,500,28,9,5,1,291,31,12,40,"261,756",...,0,1,1,1,0,1,73,171,25,1

## Removemos os outliers

In [54]:
x = Absents.quantile(0.75)
x['ID']

print([x for x in Absents])

['ID', 'Reason for absence', 'Month of absence', 'Day of the week', 'Seasons', 'Transportation expense', 'Distance from Residence to Work', 'Service time', 'Age', 'Work load Average/day ', 'Hit target', 'Disciplinary failure', 'Education', 'Son', 'Social drinker', 'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index', 'Absent']

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absent
0,0.000000,0.928571,0.545455,0.25,0.0,0.633333,0.659574,0.384615,0.193548,0.194471,...,0.0,0.0,0.50,1.0,0.0,0.2,0.653846,0.272727,0.578947,1.0
1,0.002004,0.000000,0.545455,0.25,0.0,0.000000,0.170213,0.576923,0.741935,0.194471,...,1.0,0.0,0.25,1.0,0.0,0.0,0.807692,0.454545,0.631579,0.0
2,0.004008,0.821429,0.545455,0.50,0.0,0.225926,0.978723,0.576923,0.354839,0.194471,...,0.0,0.0,0.00,1.0,0.0,0.0,0.634615,0.212121,0.631579,1.0
3,0.006012,0.250000,0.545455,0.75,0.0,0.596296,0.000000,0.423077,0.387097,0.194471,...,0.0,0.0,0.50,1.0,1.0,0.0,0.230769,0.151515,0.263158,1.0
4,0.008016,0.821429,0.545455,0.75,0.0,0.633333,0.659574,0.384615,0.193548,0.194471,...,0.0,0.0,0.50,1.0,0.0,0.2,0.653846,0.272727,0.578947,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0.991984,1.000000,0.727273,0.25,0.0,0.474074,0.425532,0.500000,0.451613,0.322830,...,0.0,0.0,0.00,1.0,0.0,0.0,0.211538,0.212121,0.210526,0.0
496,0.993988,1.000000,0.727273,0.25,0.0,0.474074,0.425532,0.500000,0.451613,0.322830,...,0.0,0.0,0.00,1.0,0.0,0.0,0.211538,0.212121,0.210526,0.0
497,0.995992,1.000000,0.727273,0.25,0.0,0.000000,0.106383,0.269231,0.322581,0.322830,...,0.0,0.0,0.00,0.0,0.0,0.0,0.519231,0.272727,0.473684,1.0
498,0.997996,0.821429,0.727273,0.25,0.0,0.137037,0.148936,0.423077,0.225806,0.322830,...,0.0,0.0,0.50,1.0,0.0,0.0,0.750000,1.000000,0.315789,1.0
499,1.000000,1.000000,0.727273,0.75,0.0,0.640741,0.553191,0.346154,0.419355,0.322830,...,0.0,0.0,0.25,1.0,0.0,0.2,0.326923,0.242424,0.315789,1.0

## Normalizar os dados

In [56]:
abs = [x for x in Absents['Absent'] if x == 1]
workload = [x.replace(",","") for x in Absents['Work load Average/day ']]
Absents['Work load Average/day '] = workload
return Absents

Absents = normalize_dataset()

Absents

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absent
0,1,26,7,3,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,1
1,2,0,7,3,1,118,13,18,50,239554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,1
3,4,7,7,5,1,279,5,14,39,239554,...,0,1,2,1,1,0,68,168,24,1
4,5,23,7,5,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,28,9,3,1,246,25,16,41,261756,...,0,1,0,1,0,0,67,170,23,0
496,497,28,9,3,1,246,25,16,41,261756,...,0,1,0,1,0,0,67,170,23,0
497,498,28,9,3,1,118,10,10,37,261756,...,0,1,0,0,0,0,83,172,28,1
498,499,23,9,3,1,155,12,14,34,261756,...,0,1,2,1,0,0,95,196,25,1
499,500,28,9,5,1,291,31,12,40,261756,...,0,1,1,1,0,1,73,171,25,1

In [40]:
from sklearn import preprocessing
x = Absents.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)

i = 0
for x in Absents:
    Absents[x] = df[i]
    i+=1
    
Absents

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.000004,0.000109,0.000029,0.000013,0.000004,0.001206,0.000150,0.000054,0.000138,0.999999,...,0.000000,0.000004,0.000008,0.000004,0.000000,0.000004,0.000376,0.000718,0.000125,0.000004
1,0.000008,0.000000,0.000029,0.000013,0.000004,0.000493,0.000054,0.000075,0.000209,0.999999,...,0.000004,0.000004,0.000004,0.000004,0.000000,0.000000,0.000409,0.000743,0.000129,0.000000
2,0.000013,0.000096,0.000029,0.000017,0.000004,0.000747,0.000213,0.000075,0.000159,0.999999,...,0.000000,0.000004,0.000000,0.000004,0.000000,0.000000,0.000372,0.000710,0.000129,0.000004
3,0.000017,0.000029,0.000029,0.000021,0.000004,0.001165,0.000021,0.000058,0.000163,0.999999,...,0.000000,0.000004,0.000008,0.000004,0.000004,0.000000,0.000284,0.000701,0.000100,0.000004
4,0.000021,0.000096,0.000029,0.000021,0.000004,0.001206,0.000150,0.000054,0.000138,0.999999,...,0.000000,0.000004,0.000008,0.000004,0.000000,0.000004,0.000376,0.000718,0.000125,0.000004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0.001895,0.000107,0.000034,0.000011,0.000004,0.000940,0.000096,0.000061,0.000157,0.999997,...,0.000000,0.000004,0.000000,0.000004,0.000000,0.000000,0.000256,0.000649,0.000088,0.000000
496,0.001899,0.000107,0.000034,0.000011,0.000004,0.000940,0.000096,0.000061,0.000157,0.999997,...,0.000000,0.000004,0.000000,0.000004,0.000000,0.000000,0.000256,0.000649,0.000088,0.000000
497,0.001903,0.000107,0.000034,0.000011,0.000004,0.000451,0.000038,0.000038,0.000141,0.999998,...,0.000000,0.000004,0.000000,0.000000,0.000000,0.000000,0.000317,0.000657,0.000107,0.000004
498,0.001906,0.000088,0.000034,0.000011,0.000004,0.000592,0.000046,0.000053,0.000130,0.999998,...,0.000000,0.000004,0.000008,0.000004,0.000000,0.000000,0.000363,0.000749,0.000096,0.000004
499,0.001910,0.000107,0.000034,0.000019,0.000004,0.001112,0.000118,0.000046,0.000153,0.999997,...,0.000000,0.000004,0.000004,0.000004,0.000000,0.000004,0.000279,0.000653,0.000096,0.000004

## Balancear o dataset

In [51]:
Max = dict()
for x in Absents:
    Max[x] = max(Absents[x])          
print(Max)

for i in Abesents:
    for x in Abesents[i]:

SyntaxError: unexpected EOF while parsing (<ipython-input-51-56fea2003f87>, line 8)

In [52]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2